*{
  text-transform:capitalize;
}
span{
  color:green;

}
h1{
  transform:translatex(390px);
  font-size:50px;
  background-image:linear-gradient(to right, rgb(204, 204, 125),rgb(25, 255, 25),rgb(255, 147, 165));
  color:black;
  width:45%;
}
div{
  transform:translatey(140px);
  animation-name:colorchanger;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  
}
@keyframes colorchanger{
from{background-image:linear-gradient(to left,yellow,green,pink)};
to{background-image:linear-gradient(to right,blue,cyan,teal)};
}